{% extends 'layout.html.twig' %}

{% block content %}
    {% set legend = get_legend() %}

    {% if legend is not empty %}
        <style>
            {% for legendItem in legend %}
                .icon--{{ legendItem.name|slugify }} {
                    background-color: {{ legendItem.color }};
                }
            {% endfor %}

            .icon--inactive {
                background-color: transparent !important;
                border: 1px solid grey;
            }
        </style>

        <ul id="legend" class="legend hidden-xs">
            <h3 class="legend__title">Legende</h3>

            <hr class="legend__separator">

            {% for legendItem in legend %}
                <li class="legend__item">
                    <i class="icon icon--{{ legendItem.name|slugify }}" data-id="{{ legendItem.id }}"></i>
                    <span>{{ legendItem.name }}</span>
                </li>
            {% endfor %}

            <hr class="legend__separator">

            <div class="legend__filter">
                <h4 class="legend__filter__title">Kategorien</h4>
                <select class="js-category-select legend__categories" data-source="business.usage" multiple="multiple" style="width: 100%"></select>
            </div>

            <div class="legend__filter">
                <h4 class="legend__filter__title">Attribute</h4>
                <select class="js-attribute-select legend__attributes" multiple="multiple" style="width: 100%">
                    <option value="outdoor_area">mit Außenbereich</option>
                    <option value="inhabited">bewohnt</option>
                    <option value="more_industry">weiteres Gewerbe</option>
                    <option value="branded">pro BID</option>
                    <option value="to_go">To Go</option>
                </select>
            </div>

            <hr class="legend__separator">

            <div class="legend__info">
                <h4 class="legend__info__title">In Zahlen</h4>
                <div>
                    <span class="js-info-visible legend__info__highlight">0</span> Insgesamt
                </div>
                <div>
                    <span class="js-info-visible-with-outdoor legend__info__highlight">0</span> mit Außenbereich
                </div>
                <div>
                    davon <span class="js-info-outdoor-seats legend__info__highlight">0</span> Sitzplätze
                </div>
                <div>
                    und <span class="js-info-outdoor-bartable legend__info__highlight">0</span> Stehplätze
                </div>
                <div>
                    <span class="js-info-visible-togo legend__info__highlight">0</span> ToGo
                </div>
            </div>
        </ul>
    {% endif %}
{% endblock %}
