{% extends 'layout.html.twig' %}

{% block jumbotron %}
    <h1>Glossar</h1>
    <p>In diesem Glossar sind die verschiedenen Arten von Immobilien-Eigentümer_innen in St. Pauli aufgelistet und beschrieben, die wir als mögliche  Kategorien identifizieren und im Eingabeformular zur Auswahl stellen.</p>

    <p>Um die Eigentums-Verhältnisse im Stadtteil abzubilden, ist die Angabe der/des Eigentümer_in für uns die wichtigste Information. Die mit eurer Mithilfe erhobenen Daten lassen sich mit anderen verfügbaren Daten z.B. im Maßstab der ganzen Stadt Hamburg oder auch anderen Städten der BRD vergleichen. Dadurch lassen sich Aussagen treffen über die Struktur des Immobilienmarktes in St. Pauli, sowie – in einem langfristigen Vergleich –  möglicherweise auch über Veränderungen in dieser Struktur. Wir hoffen, mit dieser Erhebung, der <a href="http://wiki.rechtaufstadt.net/index.php/Theorien_zur_Gentrifizierung" target="_blank">Gentrifizierung</a> in St. Pauli langfristig etwas näher „auf den Grund gehen“ zu können.</p>

    <p>Bundesweit gibt es seit den 1990er Jahren die Tendenz zu einer zurückgehenden Zahl an Privateigentümer_innen sowie an soziale gebundenem oder markt-'fernen' Wohnraum (wie er z.B. von Wohnprojekten oder teilweise von Genossenschaften und Stiftungen zur Verfügung gestellt wird). Dagegen steigen insbesondere die Zahlen der Wohneinheiten im Bereich (größerer) Immobilienunternehmen. Wir sehen in diesen strukturellen „Verschiebungen“ (die sich auch als eine Professionalisierung auf dem Wohnungsmarkt beschreiben lassen), einen wichtigen Zusammenhang mit Prozessen der Gentrifizierung: dort, wo sich lukrative Profite mit dem Wohnen machen lassen, drängen professionelle Unternehmer_innen auf den Markt und verdrängen vielfach sowohl sozial orientierte, als auch „Amateur“-Anbieter_innen (wie es häufig bei Privatvermietungen der Fall ist).</p>

    {% set glossary = get_glossary() %}

    {% if glossary is not empty %}
        <ol id="toc" class="glossary-toc">
            {% for glossaryItem in glossary %}
                <li><a href="#{{ glossaryItem.name|slugify }}">{{ glossaryItem.name }}</a></li>
            {% endfor %}
        </ol>

        <section class="glossary">
            {% for glossaryItem in glossary %}
                <article id="{{ glossaryItem.name|slugify }}" class="glossary__item">
                    <h2 class="glossary__item-title">{{ glossaryItem.name }}</h2>
                    <p>{{ glossaryItem.fulldescription|raw|nl2br }}</p>
                    <a href="#toc" class="pull-right"><i class="glyphicon glyphicon-triangle-top"></i></a>
                </article>
            {% endfor %}
        </section>
    {% endif %}
{% endblock %}
