{% extends 'layout.html.twig' %}

{% block jumbotron %}
    <h1>Glossar</h1>
    <p>In diesem Glossar sind Erklärungen zu den einzelnen Kategorien, sowie zu den Eigenschaften von einzelnen Objekten zu finden.</p>

    {% set glossary = get_glossary() %}

    {% if glossary is not empty %}
        <ol id="toc" class="glossary-toc">
            {% for glossaryItem in glossary %}
                <li><a href="#{{ glossaryItem.name|slugify }}">{{ glossaryItem.name }}</a></li>
            {% endfor %}
        </ol>

        <section class="glossary">
            {% for glossaryItem in glossary %}
                <article id="{{ glossaryItem.name|slugify }}" class="glossary__item">
                    <h2 class="glossary__item-title">{{ glossaryItem.name }}</h2>
                    <p>{{ glossaryItem.fulldescription|raw|nl2br }}</p>
                    <a href="#toc" class="pull-right"><i class="glyphicon glyphicon-triangle-top"></i></a>
                </article>
            {% endfor %}
        </section>
    {% endif %}
{% endblock %}
